{#
/**
 * @file aircraft_entity.html.twig
 * Default theme implementation to present Aircraft entity data.
 *
 * This template is used when viewing Aircraft entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_aircraft_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('aircraft_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
