{#<h4>Conscribo gegevens</h4>#}
<div id="condrup-details">
    {% for key, row in data %}
        <div><span class="condrup-key">{{ row.label }}&nbsp;:</span><span class="condrup-value">{{ row.value  }}</span></div>
    {% endfor %}
</div>