{#
/**
 * @file designer_entity.html.twig
 * Default theme implementation to present Designer entity data.
 *
 * This template is used when viewing Designer entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_designer_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('designer_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
